@import "./base.css";
@import "./font.css";

.nav-point:last-child {
  z-index: 20;
  background-color: #f4f3f1;
}

@media screen and (max-width: 768px) {
  .nav-point:last-child {
    background-color: #fff;
  }
}
